<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.recofit.ssafit.dao.PlaceDao">

    <insert id="savePlace" parameterType="Place">
        INSERT INTO place (title, venue, subjectCategory, description, subDescription, reference, source)
        VALUES (#{title}, #{venue}, #{subjectCategory}, #{description}, #{subDescription}, #{reference}, #{source})
    </insert>

    <select id="findByPlaceId" parameterType="Integer" resultType="Place">
        SELECT title, venue
        FROM place
        WHERE id = #{placeId}
    </select>

    <select id="findByPlaceName" parameterType="String" resultType="Place">
        SELECT place.id as id, place.title, venue, subjectCategory, description, subDescription, reference, source, AVG(rate) AS rate
        FROM place JOIN review on place.title = review.place_name
        WHERE place.title = #{placeName}
    </select>

<!--    <insert id="unsubscribePlace" parameterType="Integer">-->
<!--        DELETE FROM place_subscribe-->
<!--        WHERE member_id = #{memberId} AND place_id = #{placeId}-->
<!--    </insert>-->

</mapper>