@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  font-family: 'Noto Sans KR', sans-serif; 
  box-sizing: border-box;
  margin: 0;
}

.body, input, textarea, button {
  /* font-family: "Raleway", sans-serif; */
  font-family: 'Noto Sans KR', sans-serif; 
  font-weight: 400;
}

.body {
  background-color: #f3f2f1;
  margin: 0;
  line-height: 1.5;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
  padding: 0 15px;
}
.section-title h1 {
  display: inline-block;
  font-size: 40px;
  color: #000000;
  font-weight: 700;
  margin: 0;
  position: relative;
}
.section-title h1:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 80px;
  height: 3px;
  background-color: #285c4d;
}

/* Page Section */
.page-section {
  padding: 5rem 0;
  background-color: #f3f2f1;
}

.page-section .section-title h2 {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.page-section h3.section-subheading, .page-section .section-subheading.h3 {
  font-size: 1rem;
  margin-bottom: 4rem;
  line-height: 1.5rem;
}

.bg-light {
  --bs-bg-opacity: 1;
}

.team-member {
  margin-bottom: 2rem;
  text-align: center;
}

.team-member img {
  width: 16rem;
  height: 16rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
}

.team-member h4, .team-member .h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-size: 1.8rem;  
}

.mx-auto {
  margin-right: auto !important; 
  margin-left: auto !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.text-muted {
  --bs-text-opacity: 1;
  color: #6c757d !important;
}

.icon i {
  font-size: 120px;
}

@media(min-width: 768px) {
  .header .nav {
    display: block!important;
  }
}

@media(max-width: 767px) {
  .header {
    padding: 7px 0;
    position: fixed;
  }
  .header .nav-toggle {
    display: flex;
    margin-right: 15px;
  }
  .header .nav {
    flex: 0 0 100%;
    max-width: 100%;
    background-color: #ffffff;
    padding: 0;
    display:none;
  }
  .header.fixed .nav {
    border-top: 1px solid #cccccc;
  }
  .header .nav ul li {
    display: block;
    margin-right: 25px;
  }
  .header.fixed .nav ul li a,
  .header .nav ul li a {
    color: #000000;
    padding: 15px 0;
  }
  .information-section .information-img {
    margin-bottom: 30px;
  }
  .information-section .information-content,
  .information-section .information-img {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media(max-width: 575px) {
  .information-section .information-content .stats .stat-box {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .contact-section .contact-form .form .input-group.left,
  .contact-section .contact-form .form .input-group.right,
  .contact-section .contact-info .info-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .contact-section .contact-form {
    padding: 0px 35px;
  }
  .contact-section .contact-form .form {
    padding: 55px 5px;
  }
}
