@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

.body, input, textarea, button {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.body {
  background-color: #f3f2f1;
  margin: 0;
  line-height: 1.5;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
  padding: 0 15px;
}
.section-title h1 {
  display: inline-block;
  font-size: 40px;
  color: #000000;
  font-weight: 700;
  margin: 0;
  position: relative;
}
.section-title h1:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 80px;
  height: 3px;
  background-color: #285c4d;
}

/* Header Section */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: #ffffff;
  transition: all 0.5s ease;
}

.header .brand-name{
  padding: 0 15px;
}
.header .brand-name a{
  text-decoration: none;
  font-size: 40px;
  color: #285c4d;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  transition: all 0.5s ease;
}
.header .brand-name a:hover {
  color: #17382f;
}

.header .nav{
  float: right;
}
.header .nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header .nav ul li {
  display: inline-block;
  margin-left: 30px;
}
.header .nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #285c4d;
  margin: 20px 0;
  display: block;
  transition: all 0.5s ease;
}
.header .nav ul li a:hover {
  color: #17382f;
}

/* Carousel Section */
.carousel-item, .carousel-item:active {
  width: 80%;
  min-height: 400px;
  overflow: hidden;
}

/* Information Section */
.information-section {
  padding: 80px 0 0;
}

.information-section .information-img {
  flex: 0 0 30%;
  max-width: 30%;
  margin-left: 6%;
  padding: 0 15px;
}

.information-section .information-img .img-box {
  position: relative;
}
.information-section .information-img .img-box img{
  width: 100%;
  display: block;
}

.information-section .information-content {
  flex: 0 0 58%;
  max-width: 58%;
  padding: 15px 15px;
  margin-left: 6%;
}

.information-section .section-title {
  margin-bottom: 30px;
  padding: 0;
}
.information-section .section-title p {
  font-size: 16px;
  color: #555555;
  line-height: 26px;
  margin: 0;
}

.information-content p {
  font-size: 16px;
}

/* Page Section */
.page-section {
  padding: 5rem 0;
  background-color: #f3f2f1;
}

.page-section .section-title h2 {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.page-section h3.section-subheading, .page-section .section-subheading.h3 {
  font-size: 1rem;
  margin-bottom: 4rem;
  line-height: 1.5rem;
}

.bg-light {
  --bs-bg-opacity: 1;
}

.team-member {
  margin-bottom: 2rem;
  text-align: center;
}

.team-member img {
  width: 16rem;
  height: 16rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
}

.team-member h4, .team-member .h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-size: 1.8rem;  
}

.mx-auto {
  margin-right: auto !important; 
  margin-left: auto !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.text-muted {
  --bs-text-opacity: 1;
  color: #6c757d !important;
}

.icon i {
  font-size: 120px;
}

/* Contact Section */
.contact-section {
  width: 100%;
  padding: 0 0 80px;
}

.contact-section .contact-img {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}

.contact-section .contact-img .img-box {
  padding: 200px 0;
  background-image: url("../assets/img/forest.jpg");
  background-size: cover;
  background-position: center;
}

.contact-section .section-title {
  text-align: center;
}
.contact-section .section-title h1 {
  color: #ffffff;
}
.contact-section .section-title h1:before {
  background-color: #ffffff;
  left: 50%;
  margin-left: -40px;
}

.contact-section .contact-form {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0px 65px;
}

.contact-section .contact-form .form {
  background-color: #f3f2f1;
  padding: 55px 40px;
  margin-top: -50px;
}
.contact-section .contact-form .form label {
  color: #000000;
  font-weight: 500;
  display: block;
  margin: 0 0 5px;
}

.contact-section .contact-form .form .input-group {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
  margin-bottom: 30px;
}
.contact-section .contact-form .form .input-group.left,
.contact-section .contact-form .form .input-group.right {
  flex:0 0 50%;
  max-width: 50%;
}

.contact-section .contact-form .form .input-control {
  width: 100%;
  height: 45px;
  padding: 6px 0px ;
  color: #000000;
  font-size: 16px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #cccccc;
}
.contact-section .contact-form .form .input-control:focus {
  outline: none;
}

.contact-section .contact-form .form textarea.input-control {
  height: 140px;
  resize: none;
  padding-top: 12px;
}

.contact-section .contact-form .form .form-btn {
  text-align: center;
}

.contact-section .contact-info {
  flex: 0 0 100%;
  max-width: 100%;
}

.contact-section .contact-info .info-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  text-align: center;
  padding: 0 15px;
  margin-bottom: 40px;
}
.contact-section .contact-info .info-item h5 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
.contact-section .contact-info .info-item p {
  font-size: 16px;
  margin: 0;
  color: #555555;
}

.btn-style {
  background-color: #285c4d;
  color: #ffffff;
  border: solid 2px transparent;
  padding: 10px 35px;
  border-radius: 30px;
  line-height: 1.5;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
}
.btn-style:hover {
  background-color: transparent;
  border-color: #285c4d;
  color: #285c4d;
}
.btn-style:focus {
  outline: none;
}

/* Copyright Section */
.copyright {
  border-top: 1px solid #c5c5c5;
  padding: 25px 15px;
  text-align: center;
  color: #555555;
  font-size: 16px;
}

@media(min-width: 768px) {
  .header .nav {
    display: block!important;
  }
}

@media(max-width: 767px) {
  .header {
    padding: 7px 0;
    position: fixed;
  }
  .header .nav-toggle {
    display: flex;
    margin-right: 15px;
  }
  .header .nav {
    flex: 0 0 100%;
    max-width: 100%;
    background-color: #ffffff;
    padding: 0;
    display:none;
  }
  .header.fixed .nav {
    border-top: 1px solid #cccccc;
  }
  .header .nav ul li {
    display: block;
    margin-right: 25px;
  }
  .header.fixed .nav ul li a,
  .header .nav ul li a {
    color: #000000;
    padding: 15px 0;
  }
  .information-section .information-img {
    margin-bottom: 30px;
  }
  .information-section .information-content,
  .information-section .information-img {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media(max-width: 575px) {
  .information-section .information-content .stats .stat-box {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .contact-section .contact-form .form .input-group.left,
  .contact-section .contact-form .form .input-group.right,
  .contact-section .contact-info .info-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .contact-section .contact-form {
    padding: 0px 35px;
  }
  .contact-section .contact-form .form {
    padding: 55px 5px;
  }
}
