@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

.page-section {
    padding: 6rem 0;
    background-color: white;
}
.page-section h2.section-heading, .page-section .section-heading.h2 {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1rem;
}
.page-section h3.section-subheading, .page-section .section-subheading.h3 {
    font-size: 1rem;
    margin-bottom: 4rem;
}
.bg-light {
    --bs-bg-opacity: 1;
    /* background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important; */
    background-color: rgb(245, 240, 240);
}
.team-member {
    margin-bottom: 2rem;
    text-align: center;
}
.team-member img {
    width: 16rem;
    height: 16rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
}
.team-member h4, .team-member .h4 {
    margin-top: 1.5rem;
    margin-bottom: 0;
    font-size: 1.8rem;
    
}
.mx-auto {
    margin-right: auto !important; 
    margin-left: auto !important;
}
.rounded-circle {
    border-radius: 50% !important;
}
.text-muted {
    --bs-text-opacity: 1;
    color: #6c757d !important;
}
  